<section class="section">
    <div class="container">
        <header class="block has-text-centered mb-6">
            <h1 class="title is-1">Setup New Device</h1>
            <h2 class="subtitle">Complete the steps below to setup your FloraBytes device 🌱</h2>
        </header>

        <div class="columns is-centered is-multiline">
            <div class="column is-half">
                <article class="card">
                    @if (stepsSequence.length > 1) {
                        <header class="card-header">
                            <button class="card-header-icon" type="button" aria-label="more options" (click)="goBack()">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </header>
                    }
                    
                    <div class="card-content">
                        @switch (stepsSequence[0]) {
                            @case (SetupSteps.ScanDevices) {
                                <h5 class="subtitle">Step 1.</h5>
                                <h3 class="title">Scan for new devices</h3>
                                <button class="button is-link" [ngClass]="{'is-loading is-disabled': connectingDevice}"
                                    [disabled]="connectingDevice" (click)="scanAndPairDevice()">
                                    Scan
                                </button>
                            }
                            @case (SetupSteps.NetworkSetup) {
                                <form>
                                    <h5 class="subtitle">Step 2.</h5>
                                    <h3 class="title">Config your local network</h3>
            
                                    <div class="field">
                                        <label for="" class="label">Network SSID</label>
                                        <div class="control">
                                            <input type="text" class="input" name="ssid" [(ngModel)]="wifiInfo.Ssid" />
                                        </div>
                                    </div>
            
                                    <div class="field">
                                        <label for="" class="label">Password</label>
                                        <div class="control">
                                            <input type="password" class="input" name="pwd" [(ngModel)]="wifiInfo.Password" />
                                        </div>
                                    </div>
            
                                    <div class="field">
                                        <div class="control">
                                            <button type="button" class="button is-link"
                                                (click)="submitWifiCredentials()">Connect</button>
                                        </div>
                                    </div>
                                </form>
                            }
                            @case (SetupSteps.Completed) {
                                <h5 class="subtitle">Step 3.</h5>
                                <h3 class="title">Device Setup Complete!</h3>
                                <div class="content">
                                    <p>
                                        Now your device network is set up!
                                    </p>
                                </div>
                                <a routerLink="/device-telemetry-page" class="button is-link">Go to Device Telemetry</a>
                            }
                            @case (SetupSteps.AdapterUnavailable) {
                                <h3 class="title">Woops! :(</h3>
                                <div class="content">
                                    <p>
                                        Looks like your current device does not have a Bluetooth adapter.
                                        <br>
                                        Please enable Bluetooth in your device settings.
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>