<section class="section">
    <div class="container">
        <header class="block has-text-centered mb-6">
            <h1 class="title is-1">Setup New Device</h1>
            <h2 class="subtitle">Complete the steps below to setup your FloraBytes device 🌱</h2>
        </header>

        <div class="columns is-centered is-multiline">
            <div class="column is-half">
                <article class="card">
                    <!-- @if (
                        stepsSequence.length > 1 &&
                        [SetupSteps.Completed, SetupSteps.Error].includes(stepsSequence[0])
                    ) {
                        <header class="card-header is-shadowless">
                            <button class="card-header-icon" type="button" aria-label="more options" (click)="goBack()">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </header>
                    } -->
                    
                    <div class="card-content">
                        @switch (stepsSequence$ | async) {
                            @case (SetupSteps.ScanDevices) {
                                <app-pair-device-step 
                                    [device]="deviceInfo"
                                    (requestScan)="scanAndPairDevice()"
                                    [isPairing]="(isPairing$ | async) ?? false">
                                </app-pair-device-step>
                                
                                @if (connectionFailedError) {
                                    <app-message [type]="'danger'">{{connectionFailedError.message}}</app-message>
                                }
                            }
                            @case (SetupSteps.NetworkSetup) {
                                <app-network-setup-step 
                                    [wifi]="wifiCredentials"
                                    (submit)="submitWifiCredentials()">
                                </app-network-setup-step>
                            }
                            @case (SetupSteps.WaitingConnection) {
                                <app-device-connection-step
                                    [deviceId]="deviceInfo.Id">
                                </app-device-connection-step>
                            }
                            @case (SetupSteps.EditDeviceInfo) {
                                <app-device-info-step
                                    [model]="deviceInfo" 
                                    (submit)="submitDeviceInfo()">
                                </app-device-info-step>
                            }
                            @case (SetupSteps.Completed) {
                                <app-completed-step [deviceId]="deviceInfo.Id"></app-completed-step>
                            }
                            @case (SetupSteps.Error) {
                                <h3 class="title">Woops! :(</h3>
                                <div class="content">
                                    <p>
                                        Looks like your current device does not have a Bluetooth adapter.
                                        <br>
                                        Please enable Bluetooth in your device settings.
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>