<section class="section">
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <h1 class="title is-1">My Devices</h1>
            </div>
            <div class="level-right">
                <a routerLink="setup" class="button is-text">Setup New Device</a>
            </div>
        </nav>
        
        <div class="fixed-grid has-3-cols">
            <div class="grid">
                @if (loading) {
                    @for (i of [1, 2]; track $index) {
                        <app-device-summary-card [useSkeleton]="true"></app-device-summary-card>
                    }
                }

                @for (twin of $devices | async; track $index) {
                    <div class="cell">
                        <a [routerLink]="['/', 'devices', twin.id, 'telemetry']">
                            <app-device-summary-card
                                [deviceId]="twin.id"
                                [connectionState]="twin.connectionState"
                                [imgUrl]="twin.tags!['avatarImgUrl']"
                                [lastActivityTime]="twin.lastActivityTime">
                            </app-device-summary-card>
                        </a>
                    </div>
                }

            </div>

        </div>
        @if (errors.length) {
            <app-message [type]="'danger'">
                <article class="content">
                    <p>An error occured:</p>
                    <ul>
                        @for (err of errors; track $index) {
                            <li>{{err.message}}</li>
                        }
                    </ul>
                    <a class="button is-text" href="#" onclick="reload()">Click to refresh</a>
                </article>
            </app-message>
        }
    </div>
</section>