<p>{{ connectionState$ | async }}</p>
<!-- <hr />
<details open>
    <summary>
        <h3 class="title">FloraBytes Device Info</h3>
    </summary>
    <p>
        <strong><small>Name</small></strong>
        <br />
        Hello world
    </p>
    <p>
        <strong><small>Description</small></strong>
        <br />
        Hello world
    </p>
    <p>
        <strong><small>Description</small></strong>
        <br />
        Hello world
    </p>
</details> -->

<nav class="level">
    <div class="level-left"></div>
    <div class="level-right">
        <div class="level-item">
            <button data-id="connectivity-btn" class="button is-link" [disabled]="(connectionState$ | async | lowercase) !== 'connected'" (click)="emitContinueClick()">Continue</button>
        </div>
    </div>
</nav>