<article class="media box">
    <figure class="media-left">
        <p class="image is-64x64" [ngClass]="{'is-skeleton': useSkeleton}">
            <img class="is-rounded" alt="No pic" [src]="imgUrl" />
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            @if (useSkeleton) {
                <p>
                    <span class="tag is-rounded is-skeleton">Connection State</span>
                    <strong class="is-skeleton">Device name</strong>&nbsp;
                    <br/>
                    <span class="is-skeleton">Last Activity</span>&nbsp;
                    <br/>
                </p>
                <div class="skeleton-lines">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            }
            @else {
                <p>
                    <span class="tag is-rounded" [ngClass]="resolveConnectionStateClass(connectionState)">{{connectionState}}</span>&nbsp;
                    <strong>{{deviceId}}</strong>&nbsp;
                    <br/>
                    <small>{{lastActivityTime | date:'medium'}}</small>&nbsp;
                </p>
            }
        </div>
    </div>
</article>