<div #imageSelectorModal class="modal" [ngClass]="{'is-active': isActive}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <article class="card">
            <header class="card-header">
                <h1 class="card-header-title">{{title}}</h1>
            </header>
            <div class="card-content has-overflow">
                <div class="fixed-grid has-4-cols">
                    <div class="grid">
                        @for (item of images; track $index) {
                            <div class="cell">
                                <figure class="image is-square is-clickable" (click)="toggleSelection(item)">
                                    <img class="is-rounded-square" alt="No avatar image" [ngClass]="{'is-focused': item.selected}" [src]="item.url" />
                                </figure>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div class="card-footer-item level">
                    <div class="level-item">
                        <button type="button" class="button is-primary" (click)="confirmSelection()">Confirm</button>
                    </div>
                    <div class="level-item">
                        <button type="button" class="button" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </footer>
        </article>
    </div>
    <button type="button" class="modal-close is-large" (click)="isActive = false"></button>
</div>