<!-- <form (ngSubmit)="submitHandler()"> -->
<form id="network-setup-form">
    <h3 class="title">Config your local network.</h3>

    <div class="field">
        <label for="ssid-inp" class="label">Network SSID</label>
        <div class="control">
            <input id="ssid-inp" type="text" class="input" name="ssid" [(ngModel)]="wifi.ssid" />
        </div>
    </div>

    <div class="field">
        <label for="pwd-inp" class="label">Password</label>
        <div class="control">
            <input id="pwd-inp" type="password" class="input" name="pwd" [(ngModel)]="wifi.password" />
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button id="submit-credentials-btn" type="button" class="button is-link" (click)="submitHandler()">Connect</button>
        </div>
    </div>
</form>